body{
  background: #f4f4f4;
  color: #000;
}
.navbar{
  background-color: #4169E1 !important;
  min-height: 33px !important;
  margin-bottom: 0;
  margin: 0;
}
.navbar-nav > li > a, .navbar-brand{
  padding-top: 6px !important;
  padding-bottom: 0 !important;
  height: 33px;
}

/*content*/
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar navbar-default{
    color:ActiveBorder #000;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #000000;
}
.navbar .navbar-text {
  color: #000000;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #0058e7;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #0058e7;
  background-color: #000000;
}
.navbar .navbar-toggle {
  border-color: #000000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #040769;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #0058e7;
}
/*cust*/
.main-color-bg{
background-color:#4169E1 !important;
color: #ffffff !important;
}


/*header*/
#header{
  background: #333333;
  color: #ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .create{
  padding-top: 20px;
}

/*breadcrumb*/
.breadcrumb{
  background: #cccccc;
  color: #333333;
}
.breadcrumb a{
  color: #333333;
}

/*progressbar*/
.progress-bar{
  background: #333333;
  color: #ffffff;
}
/*footer*/
#footer{
  background: #333333;
  color: #ffffff;
  text-align: center;
  padding: 30px;
  margin-top: 30px;
}
@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0058e7;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0058e7;
    background-color: #040769;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0058e7;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0058e7;
    background-color: #040769;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0058e7;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0058e7;
    background-color: #040769;
  }
}
@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0058e7;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0058e7;
    background-color: #040769;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #0058e7;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #0058e7;
  background-color: #040769;
}
